In [ ]:
#Question 1 : without arguments

In [15]:
def square() :
    try :
        number = eval(input("Enter the number "))
        square = number**2
        print('The sqaure of {} is {} '.format(number,square))
    except exaption as e :
        print(e)
square()

Enter the number 5
The sqaure of 5 is 25

In [ ]:
# With Arguments

In [16]:
def square(number) :
    try :
        square = number**2
        print('The sqaure of {} is {} '.format(number,square))
    except exaption as e :
        print(e)
                
square(5)

The sqaure of 5 is 25

In [ ]:
# with defult arguments

In [17]:
def square(number=5) :
    try :
        square = number**2
        print('The sqaure of {} is {} '.format(number,square))
    except exaption as e :
        print(e)
square()

The sqaure of 5 is 25

In [ ]:
# with return keyword

In [18]:
def square() :
    try :
        number = eval(input("Enter the number : "))
        square = number**2
        print('The sqaure of {} is {} '.format(number,square))
        return(square)
    except exaption as e :
        print(e)

output = square()
print(output)

Enter the number : 5
The sqaure of 5 is 25
25

In [20]:
# Question 2 : Without Arguments

In [19]:
def three_dashes() :
    try :
        number = eval(input('Enter the number : '))
        print(1*number,2*number,3*number,4*number,5*number, sep = '---')
    except exaption as e :
        print(e)
three_dashes()

Enter the number : 7
7---14---21---28---35

In [ ]:
# with Arguments

In [23]:
def three_dashes(number) :
    try :
        print(1*number,2*number,3*number,4*number,5*number, sep = '---')
    except exaption as e :
        print(e)
three_dashes(7)

7---14---21---28---35

In [21]:
# With defult Arguments

In [24]:
def three_dashes(number = 7) :
    try :
        print(1*number,2*number,3*number,4*number,5*number, sep = '---')
    except exaption as e :
        print(e)
three_dashes()

7---14---21---28---35

In [ ]:
#Question 3 : Without Arguments

In [ ]:
def weight_to_pounds () :
    try :
        weight_in_kilograms = eval(input('Enter the weight in Kg :'))
        pounds = 2.2
        weight_in_pounds = weight_in_kilograms * pounds
        print(round(weight_in_pounds,2),'lbs')
    except exaption as e :
        print(e)
weight_to_pounds()

In [ ]:
# with Arguments

In [ ]:
def weight_to_pounds (weight) :
    try :
        pounds = 2.2
        weight_in_pounds = weight * pounds
        print(round(weight_in_pounds,2),'lbs')
    except exaption as e :
        print(e)
              
weight_to_pounds(68.75)

In [ ]:
# with defult arguments

In [ ]:
def weight_to_pounds (weight=68.75) :
    try :
        pounds = 2.2
        weight_in_pounds = weight * pounds
        print(round(weight_in_pounds,2),'lbs')
    except exaption as e :
        print(e)
weight_to_pounds()

In [ ]:
# with return keyword

In [ ]:
def weight_to_pounds () :
    try :
        weight_in_kilograms = eval(input('Enter the weight in Kg :'))
        pounds = 2.2
        weight_in_pounds = weight_in_kilograms * pounds
        print(round(weight_in_pounds,2),'lbs')
        return(weight_in_pounds)
    except exaption as e :
        print(e)
output2=weight_to_pounds()
print(output2)

In [ ]:
#Quston 4 : Without Arguments

In [ ]:
def total_Average():
    try :
        num1 = eval(input('Enter the first number :'))
        num2 = eval(input('Enter the second number :'))
        num3 = eval(input('Entr the third number : '))
        total = num1+num2+num3
        average = (num1+num2+num3/3)
        print('The total of {},{} and {} = {} '.format(num1,num2,num3,total))
        print('The Average of {},{} and {} = {} '.format(num1,num2,num3,round(average,2)))
    except exaption as e :
        print(e)
total_Average()

In [ ]:
# With arguments

In [ ]:
def total_Average(num1,num2,num3):
    try :
        total = num1+num2+num3
        average = (num1+num2+num3/3)
        print('The total of {},{} and {} = {} '.format(num1,num2,num3,total))
        print('The Average of {},{} and {} = {} '.format(num1,num2,num3,round(average,2)))
    except exaption as e :
        print(e)
total_Average(100,200,300)

In [ ]:
# with defult arguments

In [ ]:
def total_Average(num1,num3,num2=1400):
    try :
        total = num1+num2+num3
        average = (num1+num2+num3/3)
        print('The total of {},{} and {} = {} '.format(num1,num2,num3,total))
        print('The Average of {},{} and {} = {} '.format(num1,num2,num3,round(average,2)))
    except exaption as e :
        print(e)
total_Average(921,525)

In [ ]:
#with return keyword

In [ ]:
def total_Average(num1,num3,num2=1400):
    try :
        total = num1+num2+num3
        average = (num1+num2+num3/3)
        print('The total of {},{} and {} = {} '.format(num1,num2,num3,total))
        print('The Average of {},{} and {} = {} '.format(num1,num2,num3,round(average,2)))
        return(total,average)
    except exaption as e :
        print(e)
        
output3,output4 =total_Average(921,525)
print(output3)
print(output4)

In [ ]:
# Question 5 : With Arguments

In [1]:
def tip_calculator() :
    try :
        price_of_meal  = eval(input('Enter the pirce of meal : '))
        tip = eval(input('Enter the tip percentage : '))
        total_amount = (price_of_meal+(price_of_meal*tip/100))
        print('Amount to pay = ' ,round(total_amount,2),'Rs')
    except exaption as e :
        print(e)
tip_calculator()

Enter the pirce of meal : 985.35
Enter the tip percentage : 17
Amount to pay =  1152.86 Rs

In [ ]:
# without arguments

In [2]:
def tip_calculator(price_of_meal,tip) :
    try :
        total_amount = (price_of_meal+(price_of_meal*tip/100))
        print('Amount to pay = ' ,round(total_amount,2),'Rs')
    except exaption as e :
        print(e)
tip_calculator(738.25,23)

Amount to pay =  908.05 Rs

In [3]:
# with defult arguments

In [4]:
def tip_calculator(price_of_meal,tip=13) :
    try :
        total_amount = (price_of_meal+(price_of_meal*tip/100))
        print('Amount to pay = ' ,round(total_amount,2),'Rs')
    except exaption as e :
        print(e)
tip_calculator(738.25)

Amount to pay =  834.22 Rs

In [5]:
# with return keyword

In [9]:
def tip_calculator(price_of_meal,tip=13) :
    try :
        total_amount = (price_of_meal+(price_of_meal*tip/100))
        print('Amount to pay = ' ,round(total_amount,2),'Rs')
        return(total_amount)
    except exaption as e :
        print(e)
output5=tip_calculator(738.25)
print(output5)

Amount to pay =  834.22 Rs
834.2225

In [10]:
# Question 6 : without Arguments

In [ ]:
def gross_salary() :
    try :
        basic_salary = eval(input('Enter the rameshs basic salary :'))
        dearness_allowance = basic_salary * 0.4
        rent_allowace = basic_salary * 0.2
        gross_salary = basic_salary + dearness_allowance + rent_allowace
        print('The gross salary of ramaesh is {} '.format(round(gross_salary,2)))
    except exaption as e :
        print(e)
        
gross_salary()

In [11]:
#with Arguments

In [12]:
def gross_salary(basic_salary) :
    try :
        dearness_allowance = basic_salary * 0.4
        rent_allowace = basic_salary * 0.2
        gross_salary = basic_salary + dearness_allowance + rent_allowace
        print('The gross salary of ramaesh is {} '.format(round(gross_salary,2)))
    except exaption as e :
        print(e)
        
gross_salary(27500)

The gross salary of ramaesh is 44000.0

In [13]:
# with defult Arguments

In [14]:
def gross_salary(basic_salary=32400) :
    try :
        dearness_allowance = basic_salary * 0.4
        rent_allowace = basic_salary * 0.2
        gross_salary = basic_salary + dearness_allowance + rent_allowace
        print('The gross salary of ramaesh is {} '.format(round(gross_salary,2)))
    except exaption as e :
        print(e)
        
gross_salary()

The gross salary of ramaesh is 51840.0

In [15]:
# With return keyword

In [26]:
def gross_salary(basic_salary=32400) :
    try :
        dearness_allowance = basic_salary * 0.4
        rent_allowance = basic_salary * 0.2
        gross_salary = basic_salary + dearness_allowance + rent_allowance
        print('The gross salary of ramaesh is {} '.format(round(gross_salary,2)))
        return(dearness_allowance,rent_allowance,gross_salary)
    except exaption as e :
        print(e)

output6,output7,output8 = gross_salary()
print('The darness allowance is :',output6)
print('The rent allowance',output7)
print(output8)

The gross salary of ramaesh is 51840.0
The darness allowance is : 12960.0
The rent allowance 6480.0
51840.0

In [ ]:
# Question 7 : Without Arhuments

In [ ]:
def distnce():
    try :
        distance = eval(input('Enter the distance between the two cities in Km :'))
        distance_in_meters = distance * 1000
        distance_in_feets = distance * 3280.83
        distance_in_inches = distance * 39370
        distance_in_centimeters  = distance * 1e5
        print('The distance between the two cities in meters is =', round(distance_in_meters,2),"m")
        print('The distance between the two cities in feets is =', round(distance_in_feets,2),'ft')
        print('The distance between the two cities in inches is =',round(distance_in_inches,2),'in')
        print('The distance between the two cities in centi meters is =',round(distance_in_centimeters,2),'cm')
    except exaption as e:
        print(e) 
distnce()

In [27]:
# With Arguments

In [29]:
def distance_in_different_SI_units(distance):
    try :
        distance_in_meters = distance * 1000
        distance_in_feets = distance * 3280.83
        distance_in_inches = distance * 39370
        distance_in_centimeters  = distance * 1e5
        print('The distance between the two cities in meters is =', round(distance_in_meters,2),"m")
        print('The distance between the two cities in feets is =', round(distance_in_feets,2),'ft')
        print('The distance between the two cities in inches is =',round(distance_in_inches,2),'in')
        print('The distance between the two cities in centi meters is =',round(distance_in_centimeters,2),'cm')
    except exaption as e:
        print(e) 
distance_in_different_SI_units(9482.43)

The distance between the two cities in meters is = 9482430.0 m
The distance between the two cities in feets is = 31110240.82 ft
The distance between the two cities in inches is = 373323269.1 in
The distance between the two cities in centi meters is = 948243000.0 cm

In [30]:
# with Defult Argument

In [31]:
def distance_in_different_SI_units(distance=8234.51):
    try :
        distance_in_meters = distance * 1000
        distance_in_feets = distance * 3280.83
        distance_in_inches = distance * 39370
        distance_in_centimeters  = distance * 1e5
        print('The distance between the two cities in meters is =', round(distance_in_meters,2),"m")
        print('The distance between the two cities in feets is =', round(distance_in_feets,2),'ft')
        print('The distance between the two cities in inches is =',round(distance_in_inches,2),'in')
        print('The distance between the two cities in centi meters is =',round(distance_in_centimeters,2),'cm')
    except exaption as e:
        print(e) 
distance_in_different_SI_units()

The distance between the two cities in meters is = 8234510.0 m
The distance between the two cities in feets is = 27016027.44 ft
The distance between the two cities in inches is = 324192658.7 in
The distance between the two cities in centi meters is = 823451000.0 cm

In [32]:
# with return keyboard

In [33]:
def distance_in_different_SI_units(distance=8234.51):
    try :
        distance_in_meters = distance * 1000
        distance_in_feets = distance * 3280.83
        distance_in_inches = distance * 39370
        distance_in_centimeters  = distance * 1e5
        print('The distance between the two cities in meters is =', round(distance_in_meters,2),"m")
        print('The distance between the two cities in feets is =', round(distance_in_feets,2),'ft')
        print('The distance between the two cities in inches is =',round(distance_in_inches,2),'in')
        print('The distance between the two cities in centi meters is =',round(distance_in_centimeters,2),'cm')
        return(distance_in_meters,distance_in_feets,distance_in_inches,distance_in_centimeters)
    except exaption as e:
        print(e) 
output9,output10,output11,output12=distance_in_different_SI_units()
print(output9)
print(output10)
print(output11)
print(output12)

The distance between the two cities in meters is = 8234510.0 m
The distance between the two cities in feets is = 27016027.44 ft
The distance between the two cities in inches is = 324192658.7 in
The distance between the two cities in centi meters is = 823451000.0 cm
8234510.0
27016027.4433
324192658.7
823451000.0

In [34]:
#Question 8 : with Arguments

In [ ]:
def Aggregate_and_Percentage_of_marks() :
    try :
        Telugu = eval(input('Enter the marks of Telugu : '))
        Hindi = eval(input('Enter the marks of Hindi : '))
        English = eval(input('Enter the marks of English : '))
        Maths = eval(input('Enter the marks of Maths : '))
        Science = eval(input('Enter the marks of Science : '))
        maximam_marks = 500
        total_marks_obtained = Telugu+Hindi+English+Maths+Science
        Aggregate_marks = (total_marks_obtained)/5
        percentage_of_marks = (total_marks_obtained/maximam_marks)*100
        print('The total marks obtained by the student =',total_marks_obtained)
        print('The Aggregate marks of the student = ',Aggregate_marks)
        print('The percentage obtained by the student =',round(percentage_of_marks,2),'%')
              
    except exaption as e :
              print(e)
            
Aggregate_and_Percentage_of_marks()

In [35]:
# with Arguments

In [38]:
def Aggregate_and_Percentage_of_marks(Telugu,Hindi,English,Maths,Science) :
    try :
        maximam_marks = 500
        total_marks_obtained = Telugu+Hindi+English+Maths+Science
        Aggregate_marks = (total_marks_obtained)/5
        percentage_of_marks = (total_marks_obtained/maximam_marks)*100
        print('The total marks obtained by the student =',total_marks_obtained)
        print('The Aggregate marks of the student = ',Aggregate_marks)
        print('The percentage obtained by the student =',round(percentage_of_marks,2),'%')
              
    except exaption as e :
              print(e)
            
Aggregate_and_Percentage_of_marks(53,73,93,39,64)

The total marks obtained by the student = 322
The Aggregate marks of the student =  64.4
The percentage obtained by the student = 64.4 %

In [39]:
# with defult Arguments

In [40]:
def Aggregate_and_Percentage_of_marks(Telugu,Hindi,English,Maths=56,Science=75) :
    try :
        maximam_marks = 500
        total_marks_obtained = Telugu+Hindi+English+Maths+Science
        Aggregate_marks = (total_marks_obtained)/5
        percentage_of_marks = (total_marks_obtained/maximam_marks)*100
        print('The total marks obtained by the student =',total_marks_obtained)
        print('The Aggregate marks of the student = ',Aggregate_marks)
        print('The percentage obtained by the student =',round(percentage_of_marks,2),'%')
              
    except exaption as e :
              print(e)
            
Aggregate_and_Percentage_of_marks(53,73,93)

The total marks obtained by the student = 350
The Aggregate marks of the student =  70.0
The percentage obtained by the student = 70.0 %

In [41]:
# With return keyword

In [42]:
def Aggregate_and_Percentage_of_marks(Telugu,Hindi,English,Maths,Science) :
    try :
        maximam_marks = 500
        total_marks_obtained = Telugu+Hindi+English+Maths+Science
        Aggregate_marks = (total_marks_obtained)/5
        percentage_of_marks = (total_marks_obtained/maximam_marks)*100
        print('The total marks obtained by the student =',total_marks_obtained)
        print('The Aggregate marks of the student = ',Aggregate_marks)
        print('The percentage obtained by the student =',round(percentage_of_marks,2),'%')
        return(total_marks_obtained,Aggregate_marks,percentage_of_marks)      
    except exaption as e :
              print(e)
            
output13,output14,output15=Aggregate_and_Percentage_of_marks(53,73,93,39,64)
print(output13)
print(output14)
print(output15)

The total marks obtained by the student = 322
The Aggregate marks of the student =  64.4
The percentage obtained by the student = 64.4 %
322
64.4
64.4

In [ ]:
#Question 9 : Without Arguments

In [ ]:
def temparature() :
    try :
        temperature_of_the_city = eval(input('Enter the temparature in the fahrenheit :'))
        fahrenheit_to_centigrade = (temperature_of_the_city-32)*5/9
        print(round(fahrenheit_to_centigrade,2),'C')
    except Exaption as e :  
        print(e)
temparature()

In [43]:
# with Arguments

In [44]:
def temparature(temperature_of_the_city) :
    try :
        fahrenheit_to_centigrade = (temperature_of_the_city-32)*5/9
        print(round(fahrenheit_to_centigrade,2),'C')
    except Exaption as e :  
        print(e)
temparature(187)

86.11 C

In [45]:
# With defult Arguments

In [46]:
def temparature(temperature_of_the_city=115) :
    try :
        fahrenheit_to_centigrade = (temperature_of_the_city-32)*5/9
        print(round(fahrenheit_to_centigrade,2),'C')
    except Exaption as e :  
        print(e)
temparature()

46.11 C

In [47]:
# with return keyword

In [48]:
def temparature(temperature_of_the_city=115) :
    try :
        fahrenheit_to_centigrade = (temperature_of_the_city-32)*5/9
        print(round(fahrenheit_to_centigrade,2),'C')
        return(fahrenheit_to_centigrade)
    except Exaption as e :  
        print(e)
output16=temparature()

46.11 C

In [ ]:
# Question 10 : Without Arguments

In [ ]:
import math
def Area_and_perimeter() :
    try :
        length = eval(input('Enter the length of the rectangle :'))
        breadth = eval(input('Enter the breadth of the rectanglr :'))
        radius = eval(input('Enter the radius of the circle :'))
        diameter = 2 *radius
        area_of_rectangle = length*breadth
        perimeter_of_rectangle = 2*(length + breadth)
        area_of_circle = (math.pi/4)*diameter**2
        circumference_of_circle = 2*math.pi*radius
        print('Area of the rectangle = ',area_of_rectangle,'m2')
        print('Perimeter of the rectangle = ',perimeter_of_rectangle,'m2')
        print('Area of the circle = ',round(area_of_circle,2),"m2")
        print('circumference of the crcle = ',round(circumference_of_circle,2),'m2')
    except Exaption as e :
        print(e)
Area_and_perimeter()

In [49]:
# with Arguments

In [51]:
import math
def Area_and_perimeter(length,breadth,radius) :
    try :
        diameter = 2 *radius
        area_of_rectangle = length*breadth
        perimeter_of_rectangle = 2*(length + breadth)
        area_of_circle = (math.pi/4)*diameter**2
        circumference_of_circle = 2*math.pi*radius
        print('Area of the rectangle = ',area_of_rectangle,'m2')
        print('Perimeter of the rectangle = ',perimeter_of_rectangle,'m2')
        print('Area of the circle = ',round(area_of_circle,2),"m2")
        print('circumference of the crcle = ',round(circumference_of_circle,2),'m2')
    except Exaption as e :
        print(e)
Area_and_perimeter(75,43,25)

Area of the rectangle =  3225 m2
Perimeter of the rectangle =  236 m2
Area of the circle =  1963.5 m2
circumference of the crcle =  157.08 m2

In [52]:
#with defult Argument

In [53]:
import math
def Area_and_perimeter(length,breadth=948,radius=66) :
    try :
        diameter = 2 *radius
        area_of_rectangle = length*breadth
        perimeter_of_rectangle = 2*(length + breadth)
        area_of_circle = (math.pi/4)*diameter**2
        circumference_of_circle = 2*math.pi*radius
        print('Area of the rectangle = ',area_of_rectangle,'m2')
        print('Perimeter of the rectangle = ',perimeter_of_rectangle,'m2')
        print('Area of the circle = ',round(area_of_circle,2),"m2")
        print('circumference of the crcle = ',round(circumference_of_circle,2),'m2')
    except Exaption as e :
        print(e)
Area_and_perimeter(856)

Area of the rectangle =  811488 m2
Perimeter of the rectangle =  3608 m2
Area of the circle =  13684.78 m2
circumference of the crcle =  414.69 m2

In [54]:
# with return keyword

In [55]:
import math
def Area_and_perimeter(length,breadth=948,radius=66) :
    try :
        diameter = 2 *radius
        area_of_rectangle = length*breadth
        perimeter_of_rectangle = 2*(length + breadth)
        area_of_circle = (math.pi/4)*diameter**2
        circumference_of_circle = 2*math.pi*radius
        print('Area of the rectangle = ',area_of_rectangle,'m2')
        print('Perimeter of the rectangle = ',perimeter_of_rectangle,'m2')
        print('Area of the circle = ',round(area_of_circle,2),"m2")
        print('circumference of the crcle = ',round(circumference_of_circle,2),'m2')
        return(diameter,area_of_rectangle,area_of_circle,circumference_of_circle)
    except Exaption as e :
        print(e)
output17,output18,output19,output20=Area_and_perimeter(856)
print(output17)
print(output18)
print(output19)
print(output20)

Area of the rectangle =  811488 m2
Perimeter of the rectangle =  3608 m2
Area of the circle =  13684.78 m2
circumference of the crcle =  414.69 m2
132
811488
13684.77759903714
414.6902302738527

In [ ]:
# Question 11 : without Arguments

In [ ]:
def interchange() :
    try :
        C = input('Enter the number : ')
        D = input('Enter the number : ')
        C,D = D,C
        print(C,D)
    except Exaption as e :
        print(e)
interchange()

In [ ]:
# with arguments

In [56]:
def interchange(C,D) :
    try :
        C,D = D,C
        print(C,D)
    except Exaption as e :
        print(e)
interchange(63,12)

12 63

In [57]:
# with defult Argument

In [58]:
def interchange(C=89,D=876) :
    try :
        C,D = D,C
        print(C,D)
    except Exaption as e :
        print(e)
interchange()

876 89

In [59]:
# with return keyword

In [62]:
def interchange(C=453,D=792) :
    try :
        C,D = D,C
        print(C,D)
        return(C,D)
    except Exaption as e :
        print(e)
output21,output22 =interchange()
print('The value of C :',output21)
print('The value of D :',output22)

792 453
The value of C : 792
The value of D : 453

In [ ]:
#Question 12 : without Arguments

In [ ]:
def Reverse_the_number () :
    try :
        number = eval(input('Enter the Five digit number : '))
        a = number%10
        b = 1234%10
        c = 123%10
        d = 12%10
        e = 1%10
        print(a,b,c,d,e)
    except Exaption as e :
                print(e)
Reverse_the_number()

In [63]:
# With Arguments

In [64]:
def Reverse_the_number (number) :
    try :
        a = number%10
        b = 1234%10
        c = 123%10
        d = 12%10
        e = 1%10
        print(a,b,c,d,e)
    except Exaption as e :
                print(e)
Reverse_the_number(12345)

5 4 3 2 1

In [65]:
# With defult Arguments

In [66]:
def Reverse_the_number (number=12345) :
    try :
        a = number%10
        b = 1234%10
        c = 123%10
        d = 12%10
        e = 1%10
        print(a,b,c,d,e)
    except Exaption as e :
                print(e)
Reverse_the_number()

5 4 3 2 1

In [67]:
# with return keyword

In [70]:
def Reverse_the_number (number=12345) :
    try :
        a = number%10
        b = 1234%10
        c = 123%10
        d = 12%10
        e = 1%10
        print(a,b,c,d,e)
        return(a,b,c,d,e)
    except Exaption as e :
                print(e)
output23,output24,output25,output26,output27=Reverse_the_number()
print(output23,output24,output25,output26,output27)

5 4 3 2 1
5 4 3 2 1

In [ ]:
#Question 13 : without Arguments

In [ ]:
def add_of_last_digit() :
    try :
        number = eval(input('Enter the Four digit number : '))
        first_digit = number//1000
        last_digit = number%10
        add = first_digit + last_digit
        print('The sum of {} and {} is {} '.format(first_digit,last_digit,add))
    except Exaption as e :
        print(e)

add_of_last_digit()

In [71]:
#with Arguments

In [72]:
def add_of_last_digit(number) :
    try :
        first_digit = number//1000
        last_digit = number%10
        add = first_digit + last_digit
        print('The sum of {} and {} is {} '.format(first_digit,last_digit,add))
    except Exaption as e :
        print(e)

add_of_last_digit(8944)

The sum of 8 and 4 is 12

In [73]:
# with defult Arguments

In [77]:
def add_of_last_digit(number=8093) :
    try :
        first_digit = number//1000
        last_digit = number%10
        add = first_digit + last_digit
        print('The sum of {} and {} is {} '.format(first_digit,last_digit,add))
    except Exaption as e :
        print(e)

add_of_last_digit()

The sum of 8 and 3 is 11

In [ ]:
# with return keyword

In [76]:
def add_of_last_digit(number=7539) :
    try :
        first_digit = number//1000
        last_digit = number%10
        add = first_digit + last_digit
        print('The sum of {} and {} is {} '.format(first_digit,last_digit,add))
        return(first_digit,last_digit)
    except Exaption as e :
        print(e)

output28,output29=add_of_last_digit()
print('The value of first digit is : ',output28)
print('The value of last digit is : ',output29)

The sum of 7 and 9 is 16
The value of first digit is :  7
The value of last digit is :  9

In [2]:
#Question 14 : without Arguments

In [1]:
def litrecy() :
    try :
        population_of_town = int(80000)
        percentage_of_men = (population_of_town/100)*52
        percentage_of_women = population_of_town - percentage_of_men
        percentage_of_literate_men = (population_of_town/100)*35
        percentage_of_illiteracy = 52
        number_of_literate_women = (52/100)*percentage_of_women
        illitrate_men = percentage_of_men - percentage_of_literate_men
        illitrate_women = percentage_of_women - number_of_literate_women
        print('The number of men in the town = ',percentage_of_men)
        print('The number of woman in the town = ',percentage_of_women)
        print('The number of litrate men in the town = ',percentage_of_literate_men)
        print('The number of litrate women in the town = ',number_of_literate_women)
        print('The number of illitrate men in the town = ',illitrate_men)
        print('The number of illitrate women in the town = ',illitrate_women)
    except Exaption as e :
        print(e)
        
litrecy()

The number of men in the town =  41600.0
The number of woman in the town =  38400.0
The number of litrate men in the town =  28000.0
The number of litrate women in the town =  19968.0
The number of illitrate men in the town =  13600.0
The number of illitrate women in the town =  18432.0

In [3]:
# with Argumnets

In [6]:
def litrecy(population_of_town) :
    try :
        percentage_of_men = (population_of_town/100)*52
        percentage_of_women = population_of_town - percentage_of_men
        percentage_of_literate_men = (population_of_town/100)*35
        percentage_of_illiteracy = 52
        number_of_literate_women = (52/100)*percentage_of_women
        illitrate_men = percentage_of_men - percentage_of_literate_men
        illitrate_women = percentage_of_women - number_of_literate_women
        print('The number of men in the town = ',percentage_of_men)
        print('The number of woman in the town = ',percentage_of_women)
        print('The number of litrate men in the town = ',percentage_of_literate_men)
        print('The number of litrate women in the town = ',number_of_literate_women)
        print('The number of illitrate men in the town = ',illitrate_men)
        print('The number of illitrate women in the town = ',illitrate_women)
    except Exaption as e :
        print(e)
        
litrecy(80000)

The number of men in the town =  41600.0
The number of woman in the town =  38400.0
The number of litrate men in the town =  28000.0
The number of litrate women in the town =  19968.0
The number of illitrate men in the town =  13600.0
The number of illitrate women in the town =  18432.0

In [7]:
# with defult Arguments

In [10]:
def litrecy(population_of_town=80000) :
    try :
        percentage_of_men = (population_of_town/100)*52
        percentage_of_women = population_of_town - percentage_of_men
        percentage_of_literate_men = (population_of_town/100)*35
        percentage_of_illiteracy = 52
        number_of_literate_women = (52/100)*percentage_of_women
        illitrate_men = percentage_of_men - percentage_of_literate_men
        illitrate_women = percentage_of_women - number_of_literate_women
        print('The number of men in the town = ',percentage_of_men)
        print('The number of woman in the town = ',percentage_of_women)
        print('The number of litrate men in the town = ',percentage_of_literate_men)
        print('The number of litrate women in the town = ',number_of_literate_women)
        print('The number of illitrate men in the town = ',illitrate_men)
        print('The number of illitrate women in the town = ',illitrate_women)
    except Exaption as e :
        print(e)
        
litrecy()

The number of men in the town =  41600.0
The number of woman in the town =  38400.0
The number of litrate men in the town =  28000.0
The number of litrate women in the town =  19968.0
The number of illitrate men in the town =  13600.0
The number of illitrate women in the town =  18432.0

In [9]:
# with return keyword

In [11]:
def litrecy(population_of_town=80000) :
    try :
        percentage_of_men = (population_of_town/100)*52
        percentage_of_women = population_of_town - percentage_of_men
        percentage_of_literate_men = (population_of_town/100)*35
        percentage_of_illiteracy = 52
        number_of_literate_women = (52/100)*percentage_of_women
        illitrate_men = percentage_of_men - percentage_of_literate_men
        illitrate_women = percentage_of_women - number_of_literate_women
        print('The number of men in the town = ',percentage_of_men)
        print('The number of woman in the town = ',percentage_of_women)
        print('The number of litrate men in the town = ',percentage_of_literate_men)
        print('The number of litrate women in the town = ',number_of_literate_women)
        print('The number of illitrate men in the town = ',illitrate_men)
        print('The number of illitrate women in the town = ',illitrate_women)
        return(percentage_of_men,percentage_of_women,percentage_of_literate_men,number_of_literate_women,illitrate_men,illitrate_women)
    except Exaption as e :
        print(e)
        
output30,output31,output32,output33,output34,output35=litrecy()
print(output30)
print(output31)
print(output32)
print(output33)
print(output34)
print(output35)

The number of men in the town =  41600.0
The number of woman in the town =  38400.0
The number of litrate men in the town =  28000.0
The number of litrate women in the town =  19968.0
The number of illitrate men in the town =  13600.0
The number of illitrate women in the town =  18432.0
41600.0
38400.0
28000.0
19968.0
13600.0
18432.0

In [ ]:
# Question 15