In [1]:
dict1 = {'ram':25,'raheem':30,'robert':45}
dict1

{'ram': 25, 'raheem': 30, 'robert': 45}

In [2]:
type(dict1)

dict

In [3]:
len(dict1)

3

In [4]:
max(dict1)

'robert'

In [5]:
min(dict1)

'raheem'

In [6]:
d1 = {'ram':23,'raheem':30,'robert':35}
d2 = {'names':['ram','raheem','robert'],
     'ages':[25,30,35]}
d1
d2

{'names': ['ram', 'raheem', 'robert'], 'ages': [25, 30, 35]}

In [7]:
d1

{'ram': 23, 'raheem': 30, 'robert': 35}

In [8]:
d2

{'names': ['ram', 'raheem', 'robert'], 'ages': [25, 30, 35]}

In [9]:
d3 = {25:'ram'}

In [10]:
d3

{25: 'ram'}

In [11]:
d4 = {25:35}
d4

{25: 35}

In [12]:
d6 = {'A':'APPLE','B':10.5,'C':10+15j,12:['A','B','C']}

In [13]:
d6

{'A': 'APPLE', 'B': 10.5, 'C': (10+15j), 12: ['A', 'B', 'C']}

In [14]:
d7 = {'fruits':{'like':['apple','chery']}}

In [15]:
d7

{'fruits': {'like': ['apple', 'chery']}}

- dictionary in dictionary is known as jason fie

- if we provide multiple values at key position it will fail

In [17]:
dict8 = {'Sufiyan':'Amazon','Sufiyan':'Amazon'}
dict8

{'Sufiyan': 'Amazon'}

- it will not allow duplicates

In [18]:
d9 = {'ravi':25,'ravi':35,}
d9

{'ravi': 35}

- if keys are same the value will be considerd

In [19]:
d9 = {'ravi':25,'ravi':35,'ravi':9}
d9

{'ravi': 9}

In [20]:
dict1

{'ram': 25, 'raheem': 30, 'robert': 45}

In [21]:
'ram' in dict1

True

In [22]:
'ram': 25 in dict1

SyntaxError: illegal target for annotation (1077892619.py, line 1)

- keys are important

In [23]:
for i in dict1:
    print(i)

ram
raheem
robert

- when we iterate through for loop only keys will come the values will not come

## index

In [25]:
dict1

{'ram': 25, 'raheem': 30, 'robert': 45}

In [26]:
dict1[0]

KeyError: 0

In [27]:
dict1['ram']

25

- if we want to get the value by index in dictionary we have to give keywords then it will give us the value of that key.if we give the values like 0,1 it will not work

In [28]:
dict1

{'ram': 25, 'raheem': 30, 'robert': 45}

In [34]:
for i in dict1:
    print(i)

ram
raheem
robert

In [35]:
for i in dict1:
    print(i,dict1[i])

ram 25
raheem 30
robert 45

In [40]:
d2 ={'names':['Ram','Raheem','Robert'],
    'ages':[25,30,35]}
for i in range(3):
    print(d2['names'][i],d2['ages'][i],)

Ram 25
Raheem 30
Robert 35

In [41]:
d1 = {'heloo':{'heloo':{'heloo':{'heloo':'python'}}}}

In [43]:
d1['heloo']['heloo']['heloo']['heloo']

'python'

In [2]:
d2 = {'heloo':[{'fruits':['Apple','banana',{'like':['cherry']}]}]}
d2

{'heloo': [{'fruits': ['Apple', 'banana', {'like': ['cherry']}]}]}

- extract cherry from it

In [13]:
d2['heloo'][0]['fruits'][2]['like'][0]

'cherry'

In [ ]:
import random
for i in range(5)

In [34]:
import random
dict1 ={}
l1= []
l2= []
for i in range(5):
    num = random.randint(10,100)
    if num%2 == 0:
        l1.append(num)
    else :
        l2.append(num)
dict1['even'] = l1
dict1['odd'] = l2
dict1

{'even': [28, 50], 'odd': [11, 25, 33]}

In [45]:
dict1 = {'course_id':'DS',
        'course_duration':4,
        'course_fee':18000,
        'institute':'Naresh IT'}
dict1

{'course_id': 'DS',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'Naresh IT'}

- items-keys-values

In [3]:
dict1.items()

dict_items([('course_id', 'DS'), ('course_duration', 4), ('course_fee', 18000), ('institute', 'Naresh IT')])

In [4]:
dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
dict1.keys()

dict_keys(['course_id', 'course_duration', 'course_fee', 'institute'])

In [6]:
dict1.values()

dict_values(['DS', 4, 18000, 'Naresh IT'])

In [16]:
dict1.items()

dict_items([('course_id', 'DS'), ('course_duration', 4), ('course_fee', 18000), ('institute', 'Naresh IT')])

In [15]:
type(dict1.items())

dict_items

In [17]:
for i,j in dict1.items():
    print(i,':',j)

course_id : DS
course_duration : 4
course_fee : 18000
institute : Naresh IT

In [19]:
list(dict1.items()) #Type casting using list

[('course_id', 'DS'),
 ('course_duration', 4),
 ('course_fee', 18000),
 ('institute', 'Naresh IT')]

- if we use items then all will come 
- if we use kyes only kyes will come\
- if we use values only valuse will come

In [20]:
for i,j in dict1.items():
    print(i,':',j)

course_id : DS
course_duration : 4
course_fee : 18000
institute : Naresh IT

In [21]:
list(dict1.items())

[('course_id', 'DS'),
 ('course_duration', 4),
 ('course_fee', 18000),
 ('institute', 'Naresh IT')]

In [23]:
keys = dict1.keys()

In [24]:
list(keys)

['course_id', 'course_duration', 'course_fee', 'institute']

In [25]:
values = dict1.values()

In [26]:
list(values)

['DS', 4, 18000, 'Naresh IT']

In [27]:
# create a dictionary by using above lists

In [39]:
key = keys
value = values
dict1={}
for i,j in zip(key,value):
    dict1[i]=j
dict1

{'course_id': 'DS',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'Naresh IT'}

In [41]:
{i:j for i,j in zip(key,value)}

{'course_id': 'DS',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'Naresh IT'}

In [42]:
import random
dicts ={}
l1= []
l2= []
for i in range(5):
    num = random.randint(10,100)
    if num%2 == 0:
        l1.append(num)
    else :
        l2.append(num)
dicts['even'] = l1
dicts['odd'] = l2
dicts

{'even': [42, 72], 'odd': [25, 47, 15]}

{'course_duration': 4, 'course_fee': 18000}

In [48]:
dict1.get('course_id')

'DS'

In [50]:
dict2 = {'A':1,'B':2,'C':3}

In [51]:
dict2.get('A')

1

In [55]:
dict2['A']

1

In [54]:
dict2.get('a')

In [56]:
dict2.copy()

{'A': 1, 'B': 2, 'C': 3}

In [60]:
d1=  {'city':'Hyderabad'}
d2 = d1.copy()
d1.clear()
print('d1',d1)
print('d2',d2)

d1 {}
d2 {'city': 'Hyderabad'}

In [62]:
dict1

{'course_id': 'DS',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'Naresh IT'}

In [70]:
dict1.popitem()

('institute', 'Naresh IT')

In [71]:
dict1

{'course_duration': 4, 'course_fee': 18000}

In [75]:
dict1 = {'course_id':'DS',
        'course_duration':4,
        'course_fee':18000,
        'institute':'Naresh IT'}
dict1

{'course_id': 'DS',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'Naresh IT'}

In [78]:
dict1.pop('course_id')

'DS'

In [80]:
dict1

{'course_duration': 4, 'institute': 'Naresh IT'}

In [81]:
dict1.popitem()

('institute', 'Naresh IT')

In [82]:
dict1

{'course_duration': 4}

In [83]:
dict1 = {'course_id':'DS',
        'course_duration':4,
        'course_fee':18000,
        'institute':'Naresh IT'}
dict1.popitem()

('institute', 'Naresh IT')

In [84]:
dict1

{'course_id': 'DS', 'course_duration': 4, 'course_fee': 18000}

In [85]:
dict1 = {'course_id':'DS',
        'course_duration':4,
        'course_fee':18000,
        'institute':'Naresh IT'}
dict1.pop('course_id')

'DS'

In [86]:
dict1 = {'course_id':'DS',
        'course_duration':4,
        'course_fee':18000,
        'institute':'Naresh IT'}
del dict1['course_id']

In [87]:
dict1

{'course_duration': 4, 'course_fee': 18000, 'institute': 'Naresh IT'}

## set as defult

In [89]:
dict1 = {'course_id':'DS',
        'course_duration':4,
        'course_fee':18000,
        'institute':'Naresh IT'}
dict1['package'] = 100000
dict1

{'course_id': 'DS',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'Naresh IT',
 'package': 100000}

- we can add any thing in the dcitionary by using list and value

In [91]:
dict1 = {'course_id':'DS',
        'course_duration':4,
        'course_fee':18000,
        'institute':'Naresh IT'}
dict1.setdefault('package')
dict1.setdefault('certification','great learning')
dict1

{'course_id': 'DS',
 'course_duration': 4,
 'course_fee': 18000,
 'institute': 'Naresh IT',
 'package': None,
 'certification': 'great learning'}

## from keys

In [100]:
dict1.fromkeys('key',10)

{'k': 10, 'e': 10, 'y': 10}

In [101]:
dict1 = {}
employee = ['A','B','C','D']
dict1.fromkeys(employee,'nareshit')

{'A': 'nareshit', 'B': 'nareshit', 'C': 'nareshit', 'D': 'nareshit'}