In [3]:
a = 30 
b = 40
print(a) 
b

30

40

In [2]:
print(a)

30

In [4]:
a = 30 
b = 40
print(a) b

SyntaxError: invalid syntax (3524496311.py, line 3)

In [5]:
a = 30 
b = 40
print(a)
b

30

40

In [6]:

print('Hai how are you')

Hai how are you

In [7]:
name = 'python'
print(name)

python

In [9]:
# my name is python
print('my name is ' + name)

my name is python

In [10]:
print('my name is', name)

my name is python

In [12]:
num1 = 30
# the value of num1 is 30
print('the value of num1 is',num1)

the value of num1 is 30

In [14]:
# the value of num1 is : 30
print('the value of num1 is',":",num1)

the value of num1 is : 30

In [15]:
#hai 
# how are you
a = "hai"
b =" how are you"
print(a + b)

hai how are you

In [19]:
print("hai " ,end="")
print('how are you')

hai how are you

# To join multiple print statements we have to use end operater 
#print("hai " ,end="")
#print('how are you')

In [22]:
# hai 
#how
#are
#you
print("hai",end=' ')
print('how',end=" ")
print('are',end=' ')
print('you')

hai how are you

In [26]:
a = 100
b = 500
print('the addition of a&b is', a + b)

the addition of a&b is 600

In [28]:
a = 20 
b = 30
print("the multiplication of a&b is",a*b)

the multiplication of a&b is 600

In [29]:
print('the multiplucation of 20 and 30 is', a*b)

the multiplucation of 20 and 30 is 600

In [31]:
a = 400 
b = 300
mul = a*b
print('the sum of {} and {} is {} '.format(a,b,mul))

NameError: name 'mul' is not defined

In [33]:
a = 400 
b = 300
mul = a+b
print('the sum of {} and {} is {} '.format(a,b,mul))

the sum of 400 and 300 is 700

In [36]:
name = 'python'
city = "Hyerabad"
age = '30'
print('My name is ',name, "i leave in ",city,'my age is ', age )

My name is  python i leave in  Hyerabad my age is  30

In [ ]:
name = 'python'
city = "Hyerabad"
age = '30'
print('my name is {} ')