## Normal function

In [1]:
def add(x):
    return(x+10)
add(10)

20

In [3]:
add = lambda x:x+10
add(10)

20

# how many arguments are there ?
# What are you are returning

In [ ]:
<bfuntion_name> = lambda

In [6]:
mul = lambda num:num*num
mul(5)

25

In [7]:
cube =lambda val:val*val*val
cube(3)

27

# lambda functions with two argumuments

In [10]:
sum1 = lambda a,b:a+b
sum1(2,2)

4

In [15]:
average = lambda a,b,c:((a+b+c)/3)
average(20,30,40)

30.0

In [14]:
average = lambda a,b,c=100:((a+b+c)/3)
average(20,30)

50.0

In [18]:
average = lambda a,b,c=100:round((a+b+c)/3)
average(10,20)

43

In [17]:
def greater(num1,num2):
    if num1>num2:
        return(num1)
    else:
        return(num2)
    
greater(20,30)

30

In [22]:
greater = lambda num1,num2:num1  if num1>num2 else num2
greater (200,300)

300

# lambda function with list

list1 = ['hyd','mumbai','bangluru']

In [34]:
list1 = ['hyd','mumbai','bangluru']
string1 = ','.join(list1)
print(string1.capitalize())

Hyd,mumbai,bangluru

In [29]:
string1

'hyd,mumbai,bangluru'

In [25]:
list1

['hyd', 'mumbai', 'bangluru']

In [35]:
l1 = ['hyd','mumbai','bangluru']
op = []
for i in l1:
    val = i.capitalize()
    op.append(val)
print(op)

['Hyd', 'Mumbai', 'Bangluru']

In [43]:
list1 = ['python']
list1

['python']

In [44]:
for i in list1:
    print(i)

python

In [47]:
list1 = reversed('python')

for i in list1:
    print(i)

n
o
h
t
y
p

In [52]:
l1 = ['hyd','mumbai','bangluru']
l1

['hyd', 'mumbai', 'bangluru']

In [53]:
lambda i:i.capitalize(),l1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'bangluru'])

# map

In [56]:
list(map(lambda i:i.capitalize(),l1))       # create a lambda function : lambda i : i.captilize()
# add yor iterater: l1
# make mapping : map()
# save the results in a list,tuple : list

['Hyd', 'Mumbai', 'Bangluru']

In [57]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [63]:
list(map(lambda i:i*i,list1))

[1, 4, 9, 16]

In [66]:
eval(input())

[1,2,3,4]

[1, 2, 3, 4]

In [68]:
list1 = ['hyd','Biryani','Buvaneshwar','rasagulla']
list1

['hyd', 'Biryani', 'Buvaneshwar', 'rasagulla']

In [70]:
list1[3]

'rasagulla'

In [85]:
list(map(lambda i:list1[3],list1))

['rasagulla', 'rasagulla', 'rasagulla', 'rasagulla']

# filter

In [87]:
tuple(filter(lambda i:list1[3],list1))

('hyd', 'Biryani', 'Buvaneshwar', 'rasagulla')

In [81]:
for i in list1:
    if len(i)>3:
        print(i)

Biryani
Buvaneshwar
rasagulla

In [88]:
list1 = ['hy#d','Birya#ni','Buvane#shwar','rasagulla']
for i in list1:
    if '#' in i:
        print(i)

hy#d
Birya#ni
Buvane#shwar

In [92]:
list(filter(lambda i:'#' in i ,list1))

['hy#d', 'Birya#ni', 'Buvane#shwar']

In [97]:
l2 = [1,2,3,4,5,6]
tuple(filter(lambda i:print('even {}'.format(i)) if i%2==0 else print('odd {}'.format(i)),l2))

odd 1
even 2
odd 3
even 4
odd 5
even 6

()

In [100]:
l3 = [1,2,3,4,5,6]
tuple(map(lambda i:{i:'even {}'.format(i)} if i%2==0 else {i:'odd {}'.format(i)},l2))

({1: 'odd 1'},
 {2: 'even 2'},
 {3: 'odd 3'},
 {4: 'even 4'},
 {5: 'odd 5'},
 {6: 'even 6'})