In [1]:
list1 = [1,2,3,4]

In [2]:
max(list1)

4

In [3]:
min(list1)

1

In [4]:
sum(list1)

10

In [36]:
list9 = ['i am sufiyan']

In [6]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
list3 = ['apple',1234]

In [8]:
len(list3)

2

In [9]:
max(list3)

TypeError: '>' not supported between instances of 'int' and 'str'

In [10]:
min(list3)

TypeError: '<' not supported between instances of 'int' and 'str'

In [11]:
sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
list4 = ['A',1,2.6,10+20j]

In [13]:
len(list4)
max(list4)
min(list4)
sum(list4)

TypeError: '>' not supported between instances of 'int' and 'str'

In [14]:
list5 = [100,100,100]

In [16]:
print(len(list5))
print(max(list5))
print(min(list5))
print(sum(list5))

3
100
100
300

In [17]:
list6 = ['A','a']

In [18]:
print(len(list6))
print(max(list6))
print(min(list6))
print(sum(list6))

2
a
A

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
list7 = ['APPLE',['1234']]

In [21]:
print(len(list7))
print(max(list7))
print(min(list7))
print(sum(list7))

2

TypeError: '>' not supported between instances of 'list' and 'str'

In [25]:
concatinatio=list1 + list2

In [26]:
print(list1)
print(list2)
print(concatinatio)

[1, 2, 3, 4]
['i am sufiyan']
[1, 2, 3, 4, 'i am sufiyan']

In [27]:
list1 - list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [28]:
list1= ['969428312']
#list2 = ['75934653892']
sub = list1 - list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [29]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [30]:
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [31]:
3*list1

['969428312', '969428312', '969428312']

In [37]:
print(list9)

['i am sufiyan']

In [42]:
list2  = ['A','B','C','D']

In [45]:
for i in list2:
    print(i)

A
B
C
D

In [54]:
i = 0
list2 = ['a','b','c','d']
while True :
    print(i)
    i = i + 1
    if i == len(list2):
        break

0
1
2
3

In [55]:
i = 0
list2 = ['a','b','c','d']
while True :
    print(list2)
    i = i + 1
    if i == len(list2):
        break

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

## index operation

In [58]:
list1 = [1,2,3,4]

In [69]:
list11 =  ['A','B','C','D']

In [60]:
list1[3]

4

In [66]:
for i in range(len(list2)):
    print(i,list2[i])

0 a
1 b
2 c
3 d

In [68]:
i = 0
while True :
    print(i,list2[i])
    i = i  + 1
    if i == len(list2):
        break

0 a
1 b
2 c
3 d

In [90]:
for i in range(len(list11)):
    print('the +ve index of {} is {}'.format(list11[i],i))

the +ve index of A is 0
the +ve index of B is 1
the +ve index of C is 2
the +ve index of D is 3

In [81]:
i = 0
while True:
    print('the +ve index of {} is {}'.format(i,list11[i]))
    i = i + 1
    if i == len(list11):
        break

the +ve index of 0 is A
the +ve index of 1 is B
the +ve index of 2 is C
the +ve index of 3 is D

In [95]:
list1 = [[[[[1,2,3,4]]]]]

In [117]:
list1[0][0][0][0][3]

4

In [131]:
list2 = [[[[['A','B',[1,2,3,['straberry']]]]]]]

In [132]:
list2[0][0][0][0][2][3][0]

'straberry'

In [141]:
list1 = [[1,2,3,4]]
for i in range(len(list1[0])):
    print(i)

0
1
2
3

In [144]:
list2 = [[[1,2,3,4]]]
for i in range(len(list2[0][0])):
    print(i)

0
1
2
3

In [151]:
i = 0
while True :
    print(list2[0][0])
    print(i)
    i = i  + 1
    if i == len(list2):
        break

[1, 2, 3, 4]
0

In [4]:
list1 = ['Apple','Ball','Cat','Dog','Elepehnt']
for i in list1:
    if len(i)>3:
        print('{} its good'.format(i))
    else:
        print('{} its better'.format(i))

Apple its good
Ball its good
Cat its better
Dog its better
Elepehnt its good

In [6]:
    list1 = ['Apple','Ball','Cat','Dog','Elepehnt']
items  = []
for i in list1:
    if len(i)>3:
        items.append('{} its good'.format(i))
    else:
        items.append('{} its better'.format(i))
    
items

['Apple its good',
 'Ball its good',
 'Cat its better',
 'Dog its better',
 'Elepehnt its good']

In [10]:
items= ['{} its good'.format(i) if len(i)>3 else '{} its better'.format(i) for i in list1]
items

['Apple its good',
 'Ball its good',
 'Cat its better',
 'Dog its better',
 'Elepehnt its good']

## clear

In [11]:
list1 = [1,2,3,4]
list1.clear()

In [12]:
list1

[]

In [13]:
list1 = [100,200,300]
del list1[0]

In [14]:
list1

[200, 300]

In [18]:
list1 = [1,2,3,4]
list1.pop()
list1

[1, 2, 3]

In [32]:
list1.pop()

'sufiyan'

In [25]:
list1 = [1,2,3,4]
list1.remove(3)
list1

[1, 2, 4]

In [30]:
list1 = ['qutub.sufiyan@gmail.com']
list1.remove('qutub.sufiyan@gmail.com')
list1

[]

In [31]:
list1 = ['sufiyan','qutub']
list1.remove('qutub')
list1

['sufiyan']

In [33]:
list1 = [4]

In [34]:
list1.pop()

4

In [45]:
list1 = ['A','B','C','D','E']

In [46]:
list1.remove('D')

In [47]:
list1

['A', 'B', 'C', 'E']

In [51]:
list2 = [i for i in range(1,100,3)]
list2
list2.remove(55)
print(list2,end = ' ')

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]

In [55]:
list2 = [i for i in range(1,100,3)]
list2
list2.pop(list2.index(55))
print(list2,end = ' ')

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]

In [ ]:
list1 = ['Apple','Ball','Cat','Dog','Elepehnt']
items  = []
for i in list1:
    if len(i)>3:
        items.append('{} its good'.format(i))
    else:
        items.append('{} its better'.format(i))
    
items

In [82]:
string1 = 'KL.Rahul@locknow.com,virat.kohili@bnglore.com,rohit.sharma@mumbai.com'
list1 = string1.split(',')
firstname = []
name = []
company = []
for i in list1:
    firstname.append(i.split('.')[0])
    name.append(i.split('.')[1].split('@')[0])
    company.append(i.split('.')[1].split('@')[1])
    
print(firstname)
print(name)
print(company)

['KL', 'virat', 'rohit']
['Rahul', 'kohili', 'sharma']
['locknow', 'bnglore', 'mumbai']

In [88]:
firstname = [i.split('.')[0] for i in list1]
name = [i.split('.')[1].split('@')[0] for i in list1]
company = [i.split('.')[1].split('@')[1] for i in list1]
print(firstname)
print(name)
print(company)

['KL', 'virat', 'rohit']
['Rahul', 'kohili', 'sharma']
['locknow', 'bnglore', 'mumbai']

In [89]:
list1

['KL.Rahul@locknow.com', 'virat.kohili@bnglore.com', 'rohit.sharma@mumbai.com']

In [91]:
list1.clear()

In [92]:
list1

[]

In [94]:
list1 = [1,2,3,4,5]
list2 = list1.copy()
list1.clear()
print(list1),print(list2)

[]
[1, 2, 3, 4, 5]

(None, None)

## extend

In [96]:
list1.extend('suf')

In [97]:
list1

['s', 'u', 'f']

In [102]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list1.extend(list2)

In [101]:
list1

[1, 2, 3, 4, 'a', 'b', 'cd']

In [113]:
list1 = ['ram','raheem','robart']
list2 = [25,30,35]
for i,j in zip (list1,list2):
    print('{} age is {}'.format(i,j))

ram age is 25
raheem age is 30
robart age is 35

In [115]:
list1 = ['a','b','c','d','e']
list1.sort(reverse = True)
list1

['e', 'd', 'c', 'b', 'a']

In [123]:
list1 = ['a','b','c','d','e']
list1.sort()
list1

['a', 'b', 'c', 'd', 'e']

- in sort method results are saving in the samae list

In [121]:
sorted(list1)

TypeError: sorted expected 1 argument, got 2

- in sorted keyword the results will not save in the same list

In [124]:
string1 = 'KL.Rahul@locknow.com,virat.kohili@bnglore.com,rohit.sharma@mumbai.com'
list1 = string1.split(',')
list1

['KL.Rahul@locknow.com', 'virat.kohili@bnglore.com', 'rohit.sharma@mumbai.com']

In [126]:
','.join(list1)

'KL.Rahul@locknow.com,virat.kohili@bnglore.com,rohit.sharma@mumbai.com'

## Insert

In [127]:
list1 = [1,2,3,4]

In [128]:
list1.insert(3,8)

In [129]:
list1

[1, 2, 3, 8, 4]