In [2]:
name = 'python'
type (name)

str

In [3]:
name

'python'

In [4]:
name = "python"
print(name)

python

In [9]:
greet = """hi how are you
   iam good
   iam learnung python"""
print(greet)

hi how are you
   iam good
   iam learnung python

- the docstring is used to explin the code

In [12]:
print('Aslkum "Sufiyan"')

Aslkum "Sufiyan"

In [13]:
print('Aslkum'Sufiyan'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2098630294.py, line 1)

- if we want highlight some word we have to use double or single codes if we use sing code then use double code as a hihglighter

- keyword in strings
- type
- len
- max
- min

- in

In [14]:
string1 = 'Python'
type(string1)

'P'

In [15]:
len(string1)

6

In [17]:
max(string1)

'y'

In [18]:
min(string1)

'P'

In [28]:
for i in string1 :
    string1 = "python"
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

In [3]:
name22 = 'Aslkum its me sufiyan hoe are you'
for i in name22:
    print(i,ord(i))

A 65
s 115
l 108
k 107
u 117
m 109
  32
i 105
t 116
s 115
  32
m 109
e 101
  32
s 115
u 117
f 102
i 105
y 121
a 97
n 110
  32
h 104
o 111
e 101
  32
a 97
r 114
e 101
  32
y 121
o 111
u 117

## Indexing

In [1]:
name = 'python'

In [2]:
name[3]

'h'

In [3]:
name[5]

'n'

In [4]:
name22

'Aslkum its me sufiyan hoe are you'

In [9]:
len(name22)

33

In [15]:
name22[32]

'u'

In [18]:
for i in range(len(name22)):
    print(name22[i])

A
s
l
k
u
m

i
t
s

m
e

s
u
f
i
y
a
n

h
o
e

a
r
e

y
o
u

In [6]:
name = 'python'
for i in range(6) :
    print(name[i])

p
y
t
h
o
n

In [12]:
name = 'python'
for i in range(9) :
    print(name[i])

p
y
t
h
o
n

IndexError: string index out of range

In [17]:
name1 = 'heloo how are you'
print(len(name1))
for i  in range(len(name1)):
    print(name1[i],end = ' ')

17
h e l o o   h o w   a r e   y o u

In [19]:
name = input('enter the name : ')
for i in range(len(name)):
    print('the +ve index of {} is {}'.format(name[i],i))

enter the name : python
the +ve index of p is 0
the +ve index of y is 1
the +ve index of t is 2
the +ve index of h is 3
the +ve index of o is 4
the +ve index of n is 5

In [20]:
name = input('enter the name :')
for i in range(-len(name),0):
    print('the -ve index of {} is {} '.format(name[i],i))

enter the name :python
the -ve index of p is -6
the -ve index of y is -5
the -ve index of t is -4
the -ve index of h is -3
the -ve index of o is -2
the -ve index of n is -1

In [26]:
name = input('enter the name :')
for i in range(len(name)):
    print('the +ve index of {} is {} & -ve index is {} '.format(name[i],i,i-len(name)))

enter the name :python
the +ve index of p is 0 & -ve index is -6
the +ve index of y is 1 & -ve index is -5
the +ve index of t is 2 & -ve index is -4
the +ve index of h is 3 & -ve index is -3
the +ve index of o is 4 & -ve index is -2
the +ve index of n is 5 & -ve index is -1

In [21]:
name2 = input('enter the name :')
for i in range(len(name2)) :
    print('the index of {} is {}'.format(name2[i],i))

enter the name :python
the index of p is 0
the index of y is 1
the index of t is 2
the index of h is 3
the index of o is 4
the index of n is 5

In [29]:
i = 0
name3 = input('enter the name :')
while i<len(name3) :
    print('the index of {} is {} '.format(name3[i],i))
    i = i + 1

enter the name :python
the index of p is 0
the index of y is 1
the index of t is 2
the index of h is 3
the index of o is 4
the index of n is 5

In [49]:
name6 = 'python'
for i in range(-len(name6),0):
    print(i)

-6
-5
-4
-3
-2
-1

In [50]:
name7 = 'python'
for i in range(len(name7)) :
    print(i-len(name7))

-6
-5
-4
-3
-2
-1

In [80]:
i = 0
name8 = 'python'
while i<len(name8):
    print('the index {} is {} '.format(name8[i],i-len(name8)))
    i = i + 1

the index p is -6
the index y is -5
the index t is -4
the index h is -3
the index o is -2
the index n is -1

In [95]:
word = 'python'
for i in range(len(word)-len(word),-1):
    print('the positive index is :{} and the negative index is {} for {} '.format(word,word,i))

In [103]:
names = 'python'
for i in range(6):
    print(i,names[i],i-6)

0 p -6
1 y -5
2 t -4
3 h -3
4 o -2
5 n -1

In [37]:
sent1 = 'hey hey hey hai yes'
count = 0
for i in sent1:
    if 'hey' in i:
        count = count + 1
print(count)

0

In [44]:
sent2 = 'hey hey hey hai'
count = 0
for i in range(len(sent2)):
    if sent[i] == 'hai':
        count = count + 1
print(count)

0

In [36]:
sent = 'hai how are you'
count = 0
for i in range(len(sent)) :
    if sent[i] == 'a' :
        print('hai')    
        count = count + 1
print(count)
print()

hai
hai
2

In [127]:
sentence = 'hai how are you'
count = 0
for i in range(len(sentence)) :
    if sentence[i] == 'a' :
        count=count + 1 
print(count)

2

In [133]:
sentence = 'hai how are you'
count = 0
for i in range(len(sentence)) :
    if sentence[i] in'aeiou':
        count=count + 1 
print(count)

7

In [142]:
sentence = 'hai how are you'
count = 0
string1 = ''
for i in range(len(sentence)) :
    if sentence[i] in 'aeiou' :
        if 'aeiou'in sentence[i]:
            string1 = sentenc
            
print(string1)

In [46]:
string = 'hai hai how are you'
count = 0
string1 = string.split()
for i in string1:
    if 'aeiou' in i:
        count = count + 1
print(count)

0

In [51]:
sent = 'I am sufiyan.They know me as qutubuddin'
count = 0
sent1 = sent.split()
for i in sent1:
    if 'm' in i:
        count = count + 1
print(count)

3

In [54]:
name = 'i am sufiyan. yeh its me.what do you know about me.I am an open book for those who know mw.For stranger its like they are seeing an dark sky without light'
count = 0
name1 = name.split()
for i in name1:
    if 'e' in i:
        count = count + 1
print(count)

0