In [1]:
i = 0
while (i<=5) :
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5

In [2]:
i = -10
while i<=0 :
    print(i,end = ' ')
    i = i + 1

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0

In [6]:
ok = 0
while (ok<=5) :
    print(ok,end = ' ')
    ok = ok + 1

0 1 2 3 4 5

In [16]:
number = eval(input('Enter the number :'))
while (number<=25) :
    print(number,end = ' ')
    number = number + 1
else :
        print('you are in infinte loop')

Enter the number :9
9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 you are in infinte loop

In [17]:
number = 5
while (number<=25) :
    print(number,end = ' ')
    number = number + 1
else :
        print('you are in infinte loop')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 you are in infinte loop

In [14]:
number = 5
while (number<=25) :
    print(number,end = ' ')
    number = number + 1

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [8]:
i = 5
while i>=0 :
    print(i,end = ' ')
    i = i - 1

5 4 3 2 1 0

In [ ]:
Certainly! Here are some practice questions to help you work with for loops in Python:

    

    

   

    Using a for loop, print the multiplication table for a given number (e.g., 5).

    Write a program that counts the number of vowels (a, e, i, o, u) in a given string using a for loop.

    Write a Python program that finds the factorial of a given number using a for loop.

    Create a for loop that iterates through a list of names and prints each name.

    Write a program that calculates the sum of all the elements in a list using a for loop.

    Use a for loop to find the largest number in a list of numbers.

    Write a program to print a pattern of stars using nested for loops. For example, print a right-angled triangle of height 5.

    Write a program that counts and prints the number of prime numbers between 1 and 50 using a for loop.

    Create a for loop that iterates through a dictionary and prints both keys and values.

    Write a program that finds the average of a list of numbers using a for loop.

    Write a program to reverse a given string using a for loop.

    Implement a for loop to generate the Fibonacci sequence up to a specified number of terms.

In [ ]:
#

In [44]:
# Write a program that counts the number of vowels (a, e, i, o, u) in a given 
#string using a for loop.

def count() :
    try :
        vowels = input('Enter the vowels : ')
        count = 0
        for i in vowels :
            count= count+1
            print(count,1)
    except Exception as e :
        print(e)
        
count()

Enter the vowels : AEIOU
1 1
2 1
3 1
4 1
5 1

In [ ]:
name  = input('Enter the name : ')
count = 0
for i in name:
    count=count+1
    print(count,1)
    
print("total count ",count)
if count>=5 :
    print('it is lengthy name')
else :
    print('It is small')

In [10]:
#Write a Python program to print all the numbers from 1 to 10 using a for loop.
def first_numbers() :
    try :
        for i in range (0,11) :
            print(i,end = ' ')
    except Exeption as e  :
        print(e)
    
first_numbers()

0 1 2 3 4 5 6 7 8 9 10

In [13]:
def first_numbers (num1,num2) :
    try :
        for i in range (num1,num2) :
            print(i,end = ' ')
    except Exeption as e :
        print(e)
first_numbers(0,11)

0 1 2 3 4 5 6 7 8 9 10

In [15]:
def first_numbers (num1,num2=22) :
    try :
        for i in range (num1,num2) :
            print(i,end = ' ')
    except Exeption as e :
        print(e)
first_numbers(2)

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21

In [20]:
def first_numers(num1,num2=21) :
    try:
        for i in range(num1,num2) :
            print(i,end = ' ')
    except Exception as e :
        print(e)
first_numers(9)

9 10 11 12 13 14 15 16 17 18 19 20

In [1]:
#Create a for loop that prints even numbers from 1 to 20.

def even_numbers() :
    try :
        for i in range (1,20) :
            if i%2==0 :
                print(i)
            else :
                print('')
    except Eception as e :  
        print(e)
even_numbers()

2

4

6

8

10

12

14

16

18

In [24]:
def even_numbers() :
    try :
        for i in range (1,20) :
            if i%2==0 :
                print(i)
    except Eception as e :  
        print(e)
even_numbers()

2
4
6
8
10
12
14
16
18

In [26]:
#  Write a program that calculates the sum of all numbers from 1 to 100 using a for loop.
def sum_of_numbers () :
    try :
        for i in range (1,100) :
            total_sum = i +1
            print(total_sum,end = ' ')
    except Exeption as e :
        print(e)
        
sum_of_numbers()

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [2]:
def table():
    try:
        num = eval(input('enter the table : '))
        for i in range(1,11):
            print('{} * {} = {}'.format(num,i,num*i))
    except Exception as e:
        print(e)
table()

enter the table : 99
99 * 1 = 99
99 * 2 = 198
99 * 3 = 297
99 * 4 = 396
99 * 5 = 495
99 * 6 = 594
99 * 7 = 693
99 * 8 = 792
99 * 9 = 891
99 * 10 = 990

In [42]:
#Using a for loop, print the multiplication table for a given number (e.g., 5).
number = eval(input('Enter the number : '))
def five_table() :
    try :
        for i in range (1,11) :
            table = number*i
            print('{} * {} = {} '.format(number,i,table))
    except Exeption as e :
        print(e)
        
five_table()

Enter the number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

- While Loop

In [3]:
def reverse_numbers() :
    try :
        i = 0
        while i<=5 :
            print(i,end = " ")
            i = i+1
    except exeption as e :
        print(e)
reverse_numbers()

0 1 2 3 4 5

In [5]:
i = 0
while i>=0 :
    print(i,end = ' ')
    i = i + 1
    if i == 10 :
        break

0 1 2 3 4 5 6 7 8 9

In [6]:
i = 0
while i>=0 :
    print(i,end = ' ')
    i = i + 1
    if i == 3 :
        break

0 1 2

In [8]:
i = 0
while i>=0 :
    print(i)
    if i == 3 :
        break
    i = i + 1

0
1
2
3

In [11]:
i = 0
while i>=0 :
    print(i,end = ' ')
    if i == 3 :
        break
    i +=  1

0 1 2 3

In [24]:
i = 0
while i<=20 :
    print(i,end = ' ')
    i = i + 1
    if i==20 :
        break
print('if we not stop the loop here the loop will be infinte')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 if we not stop the loop here the loop will be infinte

In [ ]:
i = 0
while True :
    print(i,end = ' ')

In [27]:
import random
num = random.randint(1,100)

def even_odd() :
    try :
        for num in range (10):
            if num%2==0 :
                print('Its is an even number')
            else :
                print('It is an odd number')
    except Execption as e :
        print(e)
        
even_odd()

Its is an even number
It is an odd number
Its is an even number
It is an odd number
Its is an even number
It is an odd number
Its is an even number
It is an odd number
Its is an even number
It is an odd number

In [39]:
i = 0
while True :
    num = random.randint(1,100)
    i = i + 1
    if num%2 == 0 :
        print('Its is an even number')
    else :
        print('Its is an odd number')
    if i == 10 :
        break

Its is an odd number
Its is an even number
Its is an even number
Its is an odd number
Its is an even number
Its is an odd number
Its is an odd number
Its is an even number
Its is an odd number
Its is an even number

In [47]:
import time
start = time.time()
i = 0
while i<3 :
    print(i)
    num = eval(input('Enter the number :'))
    sq = num**2
    print(sq)
    i = i + 1
    
    
end = time.time() 
print("the time taken is sec :",end-start)

0
Enter the number :5
25
1
Enter the number :5
25
2
Enter the number :5
25
the time taken is sec : 0.963707447052002

In [41]:
time.timezone

-19800

In [4]:
import time
time.timezone

-19800

In [8]:
print('alskum')
time.sleep(2)
print('khryt')
time.sleep(2)
print('hope you have a great day')
time.sleep(3)
print('I Love You')
time.sleep(3)
print('from Sufiyan')

alskum
khryt
hope you have a great day
I Love You
from Sufiyan

In [48]:
print('heloo')
time.sleep(2)
print('its me')
time.sleep(3)
num=eval(input('Enter the number :'))

heloo
its me
Enter the number :6

In [70]:
def sum_numbers() :
    try :
        i = 0
        sum1 = 0
        for i in range (11) :
            sum1 = sum1 + i
        print(sum1,end = " ")
    except Exeption as e :
        print(e)
sum_numbers()

55

In [12]:
i = 0
sum1 = 0
for i in range(11):
    sum1 = sum1 + i
print(sum1)

55

In [65]:
i = 1
sum1 = 0
while i<=10 :
    sum1 = sum1 + i
    i = i + 1
print(sum1)

55

In [18]:
i = 0
sum1 = 0
while True:
    sum1 = sum1 + i
    i = i  + 1    
    if i == 11:
        break
print(sum1)

55